:root {
    --error-color: rgb(226, 66, 66);
}

body {
    background-color: rgb(80, 80, 80);
    color: white;
    padding: 0;
    margin: 0 auto;
}

header {
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
    background-color: rgb(50, 50, 50);
    border-bottom: 5px solid rgb(19, 165, 255);
    margin-bottom: 15px;
}

button {
    width: 95%;
    color: rgb(80, 80, 80);
    font-size: 25px;
    padding: 20px;
    border: 3px dashed lightseagreen;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#mainMenu {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    width: 95%;
}


/*Encryption/Decryption Pages*/

textarea {
    padding: 15px;
    width: 95%;
    height: 333px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    resize: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

select,
option {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    color: green;
    background-color: aqua;
}

option:disabled {
    background-color: rgb(131, 23, 23);
    color: red;
    text-decoration: line-through wavy;
}

select,
p,
textarea {
    font-size: 20px;
}

input[type=number] {
    font-size: 20px;
    width: 135px;
}

#outputEncrypt {
    overflow-y: scroll;
}